

# Import de Bibliotecas e Carregamento dos Dados

In [4]:
import pandas as pd
import re
from google.colab import drive

drive.mount('/content/drive')

df_raw = pd.read_csv('/content/drive/MyDrive/FTC - Analise de Dados/train.csv')

df_raw.head(
    

    

    
)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

# Respondendo os Exercicios

In [5]:
df = df_raw.copy()

## 1. Qual o valor da informação armazenada na linha 30 e na coluna 10?

In [6]:
df.iloc[30,10]

'22:40:00'

In [7]:
# df.loc[30, df.columns[10]]

# 2. Selecione as linhas 0 a 20 e as colunas 0 a 2

In [21]:
df.iloc[0:20, 0:2]

         ID Delivery_person_ID
0   0x4607     INDORES13DEL02
1   0xb379     BANGRES18DEL02
2   0x5d6d     BANGRES19DEL01
3   0x7a6a    COIMBRES13DEL02
4   0x70a2     CHENRES12DEL01
5   0x9bb4      HYDRES09DEL03
6   0x95b4   RANCHIRES15DEL01
7   0x9eb2      MYSRES15DEL02
8   0x1102      HYDRES05DEL02
9   0xcdcd      DEHRES17DEL01
10  0xd987      KOCRES16DEL01
11  0x2784     PUNERES13DEL03
12  0xc8b6     LUDHRES15DEL02
13  0xdb64      KNPRES14DEL02
14  0x3af3      MUMRES15DEL03
15  0x3aab      MYSRES01DEL01
16  0x689b     PUNERES20DEL01
17  0x6f67      HYDRES14DEL01
18  0xc9cf      KOLRES15DEL03
19  0x36b8     PUNERES19DEL02

# 3. Selecione as linhas 5 a 30 e a coluna “Delivery_person_Age”

In [9]:
df.loc[5:30, 'Delivery_person_Age']

5     22
6     33
7     35
8     22
9     36
10    21
11    23
12    34
13    24
14    29
15    35
16    33
17    34
18    21
19    25
20    31
21    37
22    33
23    25
24    29
25    27
26    35
27    32
28    23
29    31
30    36
Name: Delivery_person_Age, dtype: object

# 4. Selecione as linhas 40 a 42 e as seguintes colunas: “Restaurant_latitude”, “Restaurant_longitude”, "Delivery_location_latitude”, “Delivery_location_longitude”

In [10]:
df.loc[40:42, ['Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude']]

,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude
40,12.972532,77.608179,13.042532,77.678179
41,13.064181,80.236442,13.134181,80.306442
42,19.121999,72.908493,19.201999,72.988493

# 5. Qual a menor data de entrega da coluna “Order_Date” entre as linhas 0 a 50?

In [11]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], format='%d-%m-%Y')
aux = df.loc[0:50, ["ID", "Order_Date"] ]
aux.sort_values("Order_Date").iloc[0,1]

Timestamp('2022-02-11 00:00:00')

In [12]:
# aux = df.loc[0:50, 'Order_Date']
# time = pd.to_datetime('22-03-2051', format='%d-%m-%Y')
# for i in aux:
#   if i < time:
#     time = i
# print(time)

# 6. Qual a menor data de entrega da coluna “ Time_Orderd ” entre as linhas 0 a 50?

In [13]:
aux = df.loc[0:50, ["ID", "Time_Orderd"] ]
aux.sort_values("Time_Orderd", ascending=True).iloc[0,1]

'08:15:00'

# 7. Quais os nomes únicos da coluna “City” entre as linhas 50 e 70?

In [14]:
city = df.loc[50:70, 'City'].unique()
for name in city:
  print(name)

Metropolitian
Urban
Semi-Urban
NaN

# 8. Quais os nomes únicos da coluna “Weatherconditions” entre as linhas 0 e 10?

In [15]:
condicoes = df.loc[0:10, 'Weatherconditions'].unique()
for condicao in condicoes:
  print(condicao)

conditions Sunny
conditions Stormy
conditions Sandstorms
conditions Cloudy
conditions Fog

# 9. Quais os tipos de densidade de trânsito presente na coluna “Road_traffic_density ” entre as linhas 0 a 20?

In [16]:
densidades = df.loc[0:20, 'Road_traffic_density'].unique()
for densidade in densidades:
  print(densidade)

High
Jam
Low
Medium

# 10. Qual o ID do entregador de comida mais velho entre as linhas 50 e 70?

In [17]:
aux = df.loc[50:70, ['Delivery_person_ID', 'Delivery_person_Age']]
aux.sort_values("Delivery_person_Age", ascending=False).iloc[0, 0]

'DEHRES19DEL02 '

# 11. Qual o ID do entregador de comida com a melhor avaliação de entrega entre as linhas 50 e 70?

In [18]:
aux = df.loc[50:70, ['Delivery_person_ID', 'Delivery_person_Ratings']]
aux.sort_values("Delivery_person_Ratings", ascending=False).iloc[0, 0]

'AURGRES20DEL03 '

# 12. Quais os tipos de veículos utilizados pelos entregadores entre as linhas 0 a 30?

In [19]:
veiculos = df.loc[0:30, 'Type_of_vehicle'].unique()
for veiculo in veiculos:
  print(veiculo)

motorcycle
scooter
electric_scooter

# 13. Quais os tipos de pedidos únicos da coluna “multiple_deliveries” que foram entregues entre as linhas 100 e 120?

In [20]:
pedidos = df.loc[100:120, 'multiple_deliveries'].unique()
for pedido in pedidos:
  print(pedido)

0
1